h1
{
   text-align: center;
}
body {
    background: coral;
}

.form-inline, mb-3 {
    justify-content: center;
}

[v-cloak] {
    display: none;
}
.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}